src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" 
 	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	version="EE-3.7.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    

	<flow name="triggerFlow" 
		processingStrategy="synchronous" initialState="started">
        <poll doc:name="fireup Customers synchronization">
            <fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="${polling.startDelay}"/>
            <watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.lastModifiedDate]"/>
            <processor-chain doc:name="query Customers">
				<logger message="Fetching Netsuite with watermark: #[flowVars.lastQueryDate]" level="INFO" doc:name="Log 'Fetching Netsuite with watermark...'"/>
				<netsuite:query-records config-ref="Netsuite" query="dsql:SELECT accountNumber,companyName,defaultAddress,externalId,fax,firstName,internalId,lastModifiedDate,lastName,phone,url FROM CUSTOMER WHERE lastModifiedDate &gt; #[new org.mule.el.datetime.DateTime(flowVars.lastQueryDate)]" doc:name="Fetch Customers from Netsuite"/>
        	</processor-chain>
        </poll>
        <logger message="Flowvars-lastquery date: #[flowVars.lastQueryDate]" level="INFO" doc:name="Logger"/>

 		<batch:execute name="syncCustomersToAccountsBatch" doc:name="Trigger syncCustomersToAccountsBatch execution" />
		<exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Catch Exception and call defaultChoiceExceptionStrategy"/>
	</flow>


</mule>
